#theSidebar {
/*
children: 
*/
width: 160px ;
float: left ;
} /* theSidebar */

#thePageHeaderTitle {
/*
children: 
*/
width: 100% ;
float: left ;
} /* thePageHeaderTitle */

#thePageHeaderSeparator {
/*
children: 
*/
width: 100% ;
float: left ;
} /* thePageHeaderSeparator */

#thePageHeader {
/*
children: thePageHeaderTitle, thePageHeaderSeparator
*/
width: 100% ;
float: left ;
} /* thePageHeader */

#thePageBody {
/*
children: 
*/
width: 100% ;
float: left ;
} /* thePageBody */

#thePageFooterSeparator {
/*
children: 
*/
width: 100% ;
float: left ;
} /* thePageFooterSeparator */

#thePageFooterRest {
/*
children: 
*/
width: 100% ;
float: left ;
} /* thePageFooterRest */

#thePageFooter {
/*
children: thePageFooterSeparator, thePageFooterRest
*/
width: 100% ;
float: left ;
} /* thePageFooter */

#thePage {
/*
children: thePageHeader, thePageBody, thePageFooter
*/
width: 100% ;
float: left ;
} /* thePage */

#theBodyProp {
/*
children: theSidebar, thePage
*/
width: 100% ;
float: left ;
} /* theBodyProp */

body {
/*
background-color: #E7CF9E; /* golden brown */
*/
background-color: #346090; /* deep green/blue */
background-image: url(http://ats-lang.sourceforge.net/images/theSidebar_bgimage.png);
background-position: left;
background-repeat: repeat-y;
font-family: sans-serif;
}
#body-layout {
margin: 0px;
}
#theBodyProp {
width: 100% ;
margin-top: 0px;
}

.atsyntax {
  background-color:#E0E0E0; color:#E80000;
}
.atsyntax pre {
  background-color:#E0E0E0; color:#000000;
}
.atsyntax span.comment {color:#787878;font-style:italic;}
.atsyntax span.extern  {color:#A52A2A;}
.atsyntax span.keyword {color:#000000;font-weight:bold;}
.atsyntax span.neuexp  {color:#800080;}
.atsyntax span.staexp  {color:#0000FF;}
.atsyntax span.dynexp  {color:#E80000;}
.atsyntax span.prfexp  {color:#009000;}
.atsyntax span.stacstdec  {text-decoration:none;}
.atsyntax span.stacstuse  {color:#0000CF;text-decoration:underline;}
.atsyntax span.dyncstdec  {text-decoration:none;}
.atsyntax span.dyncstimp  {color:#B80000;text-decoration:underline;}
.atsyntax span.dyncstuse  {color:#B80000;text-decoration:underline;}
/*
** for manual usage
*/
.atsyntax_staexp  {color:#0000FF;}
.atsyntax_dynexp  {color:#E80000;}

#theSidebar {
}
#theSidebar-prop {
color: #E0E0E0 ;
padding-top: 10px ;
padding-left: 10px ;
}
#theSidebar-prop a {
color: #E0E0E0 ;
}

#thePage {
}
#thePageHeaderTitle {
background: white ;
background-image: url(http://ats-lang.sourceforge.net/images/thePageHeader_bgimage.png);
text-align: center ;
}
#thePageHeaderMainTitle {
font-size: 225% ;
padding-top: 36px ;
padding-bottom: 4px ;
}
#thePageHeaderByTitle {
font-size: 136% ;
padding-top: 0px ;
padding-bottom: 20px ;
}
#thePageHeaderSeparator {
background: #346090 ;
}
.Page-mysitelinks {
/*
background: #7D0000 ;
*/
background: #346090 ;
color: white ;
}
.Page-mysitelinks .separator { display: none; }

.Page-mysitelinks a,
.Page-mysitelinks strong {
color: white ;
padding-left: 6px ;
padding-right: 6px ;
}
#thePageBody {
background-color: white ;
background-image: url(http://ats-lang.sourceforge.net/images/thePageBody_bgimage.png);
}
#thePageFooterSeparator {
background: #346090 ;
}
#thePageFooterRest {
background: white ;
padding-top: 6px ;
}
