.syntax-error {
    font-weight:bold;
    display:inline;
    border: 1px solid #FF0000;
    cursor: pointer;
    background: none;
    color: #FF0000;
    border-radius:5px;
}

.cm-error {
    color: #F8F8F8;
}

.prettyprint {
    border: 1px solid #E1E1E8;
}

#patsopt-output {
    overflow:auto;
    height:302px;
}

.code-mirror {
    display:none;
}